<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Serduino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Serduino.Properties.Settings>
            <setting name="SouthPoleX" serializeAs="String">
                <value>0.33301322203725</value>
            </setting>
            <setting name="SouthPoleY" serializeAs="String">
                <value>0.38591699967391</value>
            </setting>
            <setting name="SouthPoleZ" serializeAs="String">
                <value>-0.860311483221593</value>
            </setting>
            <setting name="ZenithX" serializeAs="String">
                <value>0.0434285535446861</value>
            </setting>
            <setting name="ZenithY" serializeAs="String">
                <value>0.997336304799117</value>
            </setting>
            <setting name="ZenithZ" serializeAs="String">
                <value>0.0585212466935711</value>
            </setting>
        </Serduino.Properties.Settings>
    </userSettings>
</configuration>