<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FitsMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FitsMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FitsMonitor.Properties.Settings>
            <setting name="WatchFolder" serializeAs="String">
                <value>D:\ACP\Images</value>
            </setting>
            <setting name="ZwickyHost" serializeAs="String">
                <value>146.83.9.11</value>
            </setting>
            <setting name="ZwickyUsername" serializeAs="String">
                <value>chase</value>
            </setting>
            <setting name="ZwickySshHostKey" serializeAs="String">
                <value>ssh-rsa 2048 cb:fb:8d:12:39:4f:84:ca:53:ce:eb:44:a0:ad:be:ed</value>
            </setting>
            <setting name="RemoteBasePath" serializeAs="String">
                <value>/images/repository/inbox/</value>
            </setting>
            <setting name="FolderTotalDepth" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="DiscardFilePattern" serializeAs="String">
                <value>RAW</value>
            </setting>
            <setting name="JpgFilenameLength" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="FocusServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="FocusPort" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="WorkerAcpHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="WorkerAcpUsername" serializeAs="String">
                <value>chase</value>
            </setting>
            <setting name="WorkerAcpSshHostKey" serializeAs="String">
                <value>ssh-rsa 2048 58:c9:d5:76:c1:f6:d9:99:b8:8c:8b:90:0a:ff:67:7c</value>
            </setting>
        </FitsMonitor.Properties.Settings>
    </userSettings>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logFitsMonitor.txt"/>
      <PreserveLogFileNameExtension value="true" />
      <staticLogFileName value="false"/>
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="_yyyy_MM_dd" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%utcdate %-5level %logger %method =&gt; %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%utcdate %-5level %logger %method =&gt; %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <FitsMonitor.Properties.Settings>
      <setting name="version" serializeAs="String">
        <value>Fits Monitor V0.51</value>
      </setting>
    </FitsMonitor.Properties.Settings>
  </applicationSettings>
</configuration>