<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.Chase500.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.Chase500.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.Chase500.Properties.Settings>
            <setting name="Host" serializeAs="String">
                <value>139.229.12.88</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>502</value>
            </setting>
            <setting name="NorthOpen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SouthOpen" serializeAs="String">
                <value>0</value>
            </setting>
        </ASCOM.Chase500.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ASCOM.Chase500.Properties.Settings>
            <setting name="DriverName" serializeAs="String">
                <value>Chase500 Setup V0.63</value>
            </setting>
        </ASCOM.Chase500.Properties.Settings>
    </applicationSettings>
</configuration>