<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.OrbitATC02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ASCOM.OrbitATC02.Properties.Settings>
            <setting name="DriverName" serializeAs="String">
                <value>Chase500 Focuser Setup V0.58</value>
            </setting>
            <setting name="CommPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>2400</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DeviceDescription" serializeAs="String">
                <value>Aun no actualizado.</value>
            </setting>
            <setting name="refreshStatusTimer" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="refreshStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="refreshFirmwareInfo" serializeAs="String">
                <value>False</value>
            </setting>
        </ASCOM.OrbitATC02.Properties.Settings>
    </userSettings>
</configuration>