<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chase500DB.Properties.Settings.chase500ConnectionString"
            connectionString="server=146.83.9.11;User Id=usuarioremoto;Persist Security Info=True;password=fF5bFEjhBuEFRtsK;database=chase500;Connect Timeout=30000"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>