<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OffLineStellare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OffLineStellare.Properties.Settings>
            <setting name="OfficinaStellareLogFolder" serializeAs="String">
                <value>C:\Users\chase\Documents\Officina Stellare\log</value>
            </setting>
        </OffLineStellare.Properties.Settings>
    </userSettings>
</configuration>