<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASCOM.Meteo02.Properties.Settings.tololoConnectionString"
            connectionString="Driver={MySQL ODBC 5.1 Driver};server=139.229.13.202;database=tololo;uid=webuser;pwd=webuser_sql"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>