<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ASCOM.Meteo02.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ASCOM.Meteo02.Properties.Settings.tololoConnectionString"
            connectionString="Driver={MySQL ODBC 5.1 Driver};server=139.229.13.202;database=tololo;uid=webuser;pwd=webuser_sql"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <userSettings>
        <ASCOM.Meteo02.Properties.Settings>
            <setting name="maxHumidity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="maxWindSpeed_inKnots" serializeAs="String">
                <value>26.0692873</value>
            </setting>
            <setting name="minDewPointDelta" serializeAs="String">
                <value>4.5</value>
            </setting>
        </ASCOM.Meteo02.Properties.Settings>
    </userSettings>
</configuration>