<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZapatillaIP_cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZapatillaIP_cs.Properties.Settings>
            <setting name="relay1Label" serializeAs="String">
                <value>Baade</value>
            </setting>
            <setting name="relay2Label" serializeAs="String">
                <value>Zwicky</value>
            </setting>
            <setting name="relay3Label" serializeAs="String">
                <value>GTOCP3</value>
            </setting>
            <setting name="relay4Label" serializeAs="String">
                <value>ATC-02</value>
            </setting>
            <setting name="relay5Label" serializeAs="String">
                <value>Filter Wheel</value>
            </setting>
            <setting name="relay6Label" serializeAs="String">
                <value>Rotador</value>
            </setting>
            <setting name="relay7Label" serializeAs="String">
                <value>CCD</value>
            </setting>
            <setting name="relay8Label" serializeAs="String">
                <value>NE Camera</value>
            </setting>
            <setting name="relay9Label" serializeAs="String">
                <value>NW Camera</value>
            </setting>
            <setting name="relay10Label" serializeAs="String">
                <value>relay10Label</value>
            </setting>
            <setting name="relay11Label" serializeAs="String">
                <value>relay11Label</value>
            </setting>
            <setting name="relay12Label" serializeAs="String">
                <value>relay12Label</value>
            </setting>
            <setting name="relay13Label" serializeAs="String">
                <value>relay13Label</value>
            </setting>
            <setting name="relay14Label" serializeAs="String">
                <value>relay14Label</value>
            </setting>
            <setting name="relay15Label" serializeAs="String">
                <value>relay15Label</value>
            </setting>
            <setting name="relay16Label" serializeAs="String">
                <value>relay16Label</value>
            </setting>
            <setting name="ipAddress" serializeAs="String">
                <value>139.229.65.214</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>18008</value>
            </setting>
        </ZapatillaIP_cs.Properties.Settings>
    </userSettings>
</configuration>